*{
    margin: 0px;
    padding: 0px;
}
body{
    /* background: rgb(58,98,156); */
    background: linear-gradient( rgba(58,98,156,1) , rgba(121,9,119,1) , rgba(177,73,73,1) );
    background-repeat: no-repeat;
    
    overflow: auto;
    /* height: 100vh; */
}
#nav_content{
    display:none;
}
#home{
    display: flex;
    flex-direction: column-reverse;
}
#right_content{
    /* height: 30rem;*/
    width: 375px; 
    margin: 0px;
}
#left_content{
    margin: 0px;
    /* border-radius: 24px; */
}
#left_content img{
    /* margin: 5rem 0.5rem 2rem 24rem; */
    border-radius: 24px;
    width: 370px;
}

#icons{
    display: flex;
    flex-direction: row;
}
.main_content{
    width: 370px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#facebook{
    margin: 0rem 0.3rem 1.5rem 3rem;
}
#twitter{
    margin: 0rem 0.3rem 1.5rem 3rem;
}
#instagram{
    margin: 0rem 0.3rem 1.5rem 3rem;
}